<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="createUserStoreModalLabel" id="createUserStoreModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createUserStoreModalLabel">添加成员</h4>
                <label id="pointId" hidden></label>
                <label id="pointProportion" hidden></label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-xs-12" for="UserStore">分项成员</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="UserStore" size="1" style="height: 38px;"></select>
                                <div class="help-block" id="UserStoreErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-xs-12" for="StoreProportion">成员占比</label>
                            <div class="col-xs-12">
                                <div class="input-group m-b-10">
                                    <input class="form-control" type="text" id="StoreProportion" placeholder="成员占比.." onkeyup="this.value=onChangeUserProportion(this.value)">
                                    <span class="input-group-addon">%</span>
                                </div>
                                <div class="help-block" id="StoreProportionErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-xs-12">占比项目合同金额（元）</label>
                            <div class="col-xs-12">
                                <div class="form-control-static" id="UserContractMoney"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-xs-12" for="StoreContent">成员工作事项</label>
                            <div class="col-xs-12">
                                <textarea class="form-control" id="StoreContent" rows="6" placeholder="成员工作事项.."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button class="btn btn-label btn-primary" onclick="CreateUserStore()"><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label> 创建</button>
                </div>
            </div>
        </div>
    </div>
</div>