<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="DeletePointModalLabel" id="DeletePointModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">删除分项</h4>
            </div>
            <label hidden id="DPointId"></label>
            <div class="modal-body">
                是否删除本项目分项
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button class="btn btn-label btn-danger" onclick="deletePoint()"><label><i class="mdi mdi-close"></i></label> 删除</button>
            </div>
        </div>
    </div>
</div>