 a {
        /*color: #2a2828;*/
        color: rgba(0, 0, 0, 0.56);
        text-decoration: none;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .zidiv1 {
        /*border: 1px solid #dff0d8;*/
        /*background-color: #6ba6c8;*/
        float: left;
        /*background-color: #dff0d8;*/
        /*background-color: #6ba6c8;*/
        /*background: linear-gradient(to bottom,#ddeff4 0,#ddeff4 100%);*/
        text-align: center;
        font-size: 1.5vw;
        /*-moz-border-radius: 10px; -webkit-border-radius: 10px;*/
    }

        .zidiv1:hover {
            /*background-color: #dff0d8;*/
            /*background-color: #6ba6c8;*/
            /*background: linear-gradient(to bottom,#ddeff4 0,#ddeff4 100%);*/
            /*color: white;*/
        }

        /*.ac {
            background-color: #78aa72;
        }*/

        .zidiv1 a:hover {
            /*background-color: #386c9f;*/
            /*color: white;*/
        }

    .zidiv2 {
        /*border: 1px solid #6ba6c8;*/
        /*background: linear-gradient(to bottom,#ddeff4 0,#ddeff4 100%);*/
        /*border: 1px solid #dff0d8;*/
        float: left;
        /*background-color: #6ba6c8;*/
        /*background-color: #dff0d8;*/
        text-align: center;
        font-size: 1.5vw;
        /*-moz-border-radius: 10px; -webkit-border-radius: 10px;*/
    }

        .zidiv2:hover {
            /*background-color: #386c9f;*/
        }

        .zidiv2 a:hover {
            /*background-color: #386c9f;*/
            /*color: white;*/
        }