<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="DeleteProjectModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myLargeModalLabel">标题（小）</h4>
            </div>
            <div class="modal-body">
                您的内容...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">点击保存</button>
            </div>
        </div>
    </div>
</div>