@{
    ViewBag.Title = "项目管理";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><h4>项目列表</h4></div>
            <div class="card-toolbar clearfix">
                <form class="pull-left search-bar" method="post" action="#!" role="form">
                    <div class="form-group">
                        <label for="example-input-normal">项目名称</label>
                        <input class="form-control" type="text" id="projectName" placeholder="项目名称..">
                    </div>
                </form>
                <div class="toolbar-btn-action" style="float:right">
                    <a class="btn btn-success m-r-5" href="#!" id="searchBtn" onclick="Search(1)"><i class="mdi mdi-magnify"></i> 查询</a>
                    <button type="button" class="btn btn-primary m-r-5" data-toggle="modal" onclick="OpenCreateProjectModal();">
                        <i class="mdi mdi-plus"></i>新增
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("Create")
    @Html.Partial("Edit")
    @Html.Partial("SetProportion")
    @Html.Partial("Delete")
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="tablelist">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>项目名称</th>
                                <th>项目负责人</th>
                                <th>项目内容</th>
                                <th>项目联系人</th>
                                <th>联系电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <ul class="pagination" id="filter" style="float:right"></ul>
                <ul class="clear" style="clear:both"></ul>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/new/tablequery/tableList.js"></script>
<script src="~/Scripts/new/project/project.js"></script>