@{
    ViewBag.Title = "项目管理";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header"><h4>项目列表</h4></div>
            <div class="card-toolbar clearfix">
                <form class="pull-left search-bar" method="post" action="#!" role="form">
                    <div class="form-group">
                        <label for="example-input-normal">项目名称</label>
                        <input class="form-control" type="text" id="projectName" placeholder="项目名称..">
                    </div>
                </form>
                <div class="toolbar-btn-action" style="float:right">
                    <a class="btn btn-success m-r-5" href="#!" onclick="Search(1)"><i class="mdi mdi-magnify"></i> 查询</a>
                    <button type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#createModal">
                    <i class="mdi mdi-plus"></i>新增
                    </button>
                    @Html.Partial("Create")
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table table-bordered" id="tablelist">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>项目名称</th>
                                <th>项目负责人</th>
                                <th>项目内容</th>
                                <th>项目联系人</th>
                                <th>联系电话</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <ul class="pagination" id="filter" style="float:right"></ul>
                <ul class="clear" style="clear:both"></ul>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/new/tablequery/tableList.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.form-control').select2();
    });

    var query = {};
    var actionUrl = "@Url.Action("ProjectList", "projectmanager", new { Area = "Project" })";
    var aoColumns = [
        { "sName": "Id"},
        { "sName": "ProjectName" },
        { "sName": "LeaderName"},
        { "sName": "Content"},
        { "sName": "LinkPerson"},
        { "sName": "LinkPhoneNo"},
        {
            "sName": "Id",
            "fnRender": function (oObj) {
                var btnArray = '<a class="btn btn-xs btn -default" href="#!" title="编辑" onclick="Edit(' + oObj + ') data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>';
                btnArray += '<a class="btn btn-xs btn-default" href="#!" title="删除"  onclick="Delete(' + oObj + ') data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>';
                return btnArray;
            }
        }
    ];

    Search(1);

    function Search(index) {
        if (index && index <= 0) {
            index = 1;
        }
        query['PageIndex'] = index;
        query['projectName'] = $("#projectName").val() ? $("#projectName").val() : '';
        tablelist.SearchDataTables($("#tablelist tbody"),$("#filter"), actionUrl, aoColumns, query);
    }

    function CreateProject() {
        if (CheckItem()) {

        }
    }

    function CheckItem() {

    }
</script>