<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="CreateModuleModalLabel" id="CreateModuleModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="createModalLabel">创建模块</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="ModuleName">模块名称</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="ModuleName" placeholder="模块名称..">
                                <div class="help-block" id="ModuleNameErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="isChildModule">是否子菜单</label>
                            <label class="lyear-switch switch-solid switch-primary">
                                <input type="checkbox" checked="" onchange="IsChildModuleChange()" id="isChildModule">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="Layer">本模块菜单层级</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="Layer" size="1" style="height: 38px;" onchange="LayerChange()"></select>
                                <div class="help-block" id="LayerErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="ParentModule">父级菜单</label>
                            <div class="col-xs-12">
                                <select class="form-control" id="ParentModule" size="1" style="height: 38px;"></select>
                                <div class="help-block" id="ParentModuleNameErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="Icon">图标</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="Icon" placeholder="不填显示默认图标..">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-xs-12" for="OrderSort">排序Id</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="OrderSort" placeholder="不填将默认排后..">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="ChildModuleRow">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-xs-12" for="LinkUrl">访问地址</label>
                            <div class="col-xs-12">
                                <input class="form-control" type="text" id="LinkUrl" placeholder="访问地址..">
                                <div class="help-block" id="LinkUrlErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-xs-12" for="Description">模块简介</label>
                            <div class="col-xs-12">
                                <textarea class="form-control" id="Description" rows="6" placeholder="模块简介.."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button class="btn btn-label btn-primary" onclick="CreateModule()"><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label> 创建</button>
                </div>
            </div>
        </div>
    </div>
</div>

