@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/cssBase")
    @Scripts.Render("~/scripts/jsBase");
    <link href="~/Content/admin/css/matrix-login.css" rel="stylesheet" />
    <!-- FAVICONS -->
</head>
<body onkeydown="if (event.keyCode == 13) document.getElementById('btnLogin').click();">

    <div id="loginbox">
        <div class="control-group normal_text">
            <h3>智汇办公服务平台登录</h3>
        </div>
        <div id="login" />
    </div>
    <script src="~/Scripts/app/account/login.js"></script>
</body>
</html >



