@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Sign in</title>
    <!-- FAVICONS -->
</head>
<body onkeydown="if (event.keyCode == 13) document.getElementById('btnLogin').click();">

    <div id="loginbox">
        <div id="login" />
    </div>
    <script src="~/Scripts/app/account/login.js"></script>
</body>
</html >



