<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="ResetPasswordModalLabel" id="ResetPasswordModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ResetPasswordModalLabel">重置用户密码</h4>
                <label hidden id="Reset_UserId"></label>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-xs-12" for="RLoginPassword">新密码</label>
                            <div class="col-xs-12">
                                <input type="password" placeholder="新密码.." class="form-control" id="RLoginPassword" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-xs-12" for="RNewLoginPassword">确认密码</label>
                            <div class="col-xs-12">
                                <input type="password" placeholder="确认密码.." class="form-control" id="RNewLoginPassword" />
                                <div class="help-block" id="RLoginPasswordErrorMsg" style="color:red"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="btn btn-label btn-primary" onclick="ResetPassWord()"><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label> 修改密码</button>
            </div>
        </div>
    </div>
</div>
