@{
    ViewBag.Title = "智慧办公-CMS";
}
<div class="row">
    <div class="col-sm-6 col-lg-3" onclick="handleMessage()" id="message">
        <div class="card bg-purple">
            <div class="card-body clearfix">
                <div class="pull-right">
                    <p class="h6 text-white m-t-0">未读消息</p>
                    <p class="h3 text-white m-b-0">153 条</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-comment-outline fa-1-5x"></i></span> </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3" onclick="handleAttendance()" id="attendance">
        <div class="card bg-danger">
            <div class="card-body clearfix">
                <div class="pull-right">
                    <p class="h6 text-white m-t-0">考勤情况（本月）</p>
                    <p class="h6 text-white m-b-0">请假：3</p>
                    <p class="h6 text-white m-b-0">异常：1</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3" onclick="handleCost()" id="cost">
        <div class="card bg-primary">
            <div class="card-body clearfix">
                <div class="pull-right">
                    <p class="h6 text-white m-t-0">差旅费用（2019）</p>
                    <p class="h6 text-white m-b-0">已报费用：102,125.00</p>
                    <p class="h6 text-white m-b-0">已发费用：52,125.00</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-currency-cny fa-1-5x"></i></span> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><h4>参与项目(万元)</h4></div>
            <div class="card-body">
                <canvas id="chart-pie" width="280" height="280"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><h4>本月考勤(天)</h4></div>
            <div class="card-body">
                <canvas id="chart-doughnut" width="280" height="280"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4>项目信息</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>项目名称</th>
                                <th>开始日期</th>
                                <th>截止日期</th>
                                <th>状态</th>
                                <th>进度</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>设计新主题</td>
                                <td>10/02/2019</td>
                                <td>12/05/2019</td>
                                <td><span class="label label-warning">待定</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-warning" style="width: 45%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>网站重新设计</td>
                                <td>01/03/2019</td>
                                <td>12/04/2019</td>
                                <td><span class="label label-success">进行中</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-success" style="width: 30%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>模型设计</td>
                                <td>10/10/2019</td>
                                <td>12/11/2019</td>
                                <td><span class="label label-warning">待定</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-warning" style="width: 25%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>后台管理系统模板设计</td>
                                <td>25/01/2019</td>
                                <td>09/05/2019</td>
                                <td><span class="label label-success">进行中</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-success" style="width: 55%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>前端设计</td>
                                <td>10/10/2019</td>
                                <td>12/12/2019</td>
                                <td><span class="label label-danger">未开始</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-danger" style="width: 0%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>桌面软件测试</td>
                                <td>10/01/2019</td>
                                <td>29/03/2019</td>
                                <td><span class="label label-success">进行中</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-success" style="width: 75%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>APP改版开发</td>
                                <td>25/02/2019</td>
                                <td>12/05/2019</td>
                                <td><span class="label label-danger">暂停</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-danger" style="width: 15%;"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Logo设计</td>
                                <td>10/02/2019</td>
                                <td>01/03/2019</td>
                                <td><span class="label label-warning">完成</span></td>
                                <td>
                                    <div class="progress progress-striped progress-sm">
                                        <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/new/Chart.js"></script>
<script>
    function handleMessage() {
        setTimeout(function () { lightyear.notify('打开未读消息', 'success'); }, 1e3);
    }
    function handleAttendance() {
        setTimeout(function () { lightyear.notify('打开请假', 'success'); }, 1e3);
    }
    function handleCost() {
        setTimeout(function () { lightyear.notify('打开差旅费用', 'success'); }, 1e3);
    }

    new Chart($("#chart-pie"), {
        type: 'pie',
        data: {
            labels: ["项目一", "项目二", "项目三"],
            datasets: [{
                data: [300, 50, 100],
                backgroundColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)']
            }]
        },
        options: {
            responsive: false
        }
    });

    new Chart($("#chart-doughnut"), {
        type: 'doughnut',
        data: {
            labels: ["异常", "在岗", "请假"],
            datasets: [{
                data: [1, 17, 3],
                backgroundColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)']
            }]
        },
        options: {
            responsive: false
        }
    });
</script>
