@using Framework.Tool.Operator;
@{
    ViewBag.Title = "设置用户个人信息";
    var user = new OperatorModel();
    user = ViewBag.User;
}

<div class="col-sm-8">
    <div class="card">
        <div class="card-header">
            <h4>用户信息</h4>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>

