<header class="lyear-layout-header">
    <nav class="navbar navbar-default">
        <div class="topbar">

            <div class="topbar-left">
                <div class="lyear-aside-toggler">
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                    <span class="lyear-toggler-bar"></span>
                </div>
                <span class="navbar-page-title" id="clock" />
            </div>

            <ul class="topbar-right">
                <li class="dropdown dropdown-profile">
                    <a href="javascript:void(0)" data-toggle="dropdown">
                        <img class="img-avatar img-avatar-48 m-r-10" id="header-userName-alt" src="~/image/main/userProfile.jpg"/>
                        <span id="header-userName"> </span></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li> <a href="@Url.Action("Index", "Profile", new { Area = "Common" })"><i class="mdi mdi-account"></i> 个人信息</a> </li>
                        <li> <a href="@Url.Action("ChangePwd", "Profile", new { Area = "Common" })"><i class="mdi mdi-lock-outline"></i> 修改密码</a> </li>
                        <li class="divider"></li>
                        <li> <a href="@Url.Action("SignOut", "Login", new { Area = "Common" })"><i class="mdi mdi-logout-variant"></i> 退出登录</a> </li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>

</header>

<script>
    var attime;
    function clock() {
        var time = new Date();
        attime = time.toLocaleString();
        document.getElementById("clock").innerText = attime;
    }
    setInterval(clock, 1000);

    function getUserName() {
        var userName = getCookiesByName('LoginName');
        if (userName && userName != "") {
            document.getElementById("header-userName").innerHTML = userName + '<span class="caret">';
            document.getElementById("header-userName-alt").innerText = userName;
        }
        else {
            window.location.href = "@Url.Action("index", "Account", new { Area = "Common" })";
        }
    }

    function getCookiesByName(name) {
        var arr;
        if (arr = document.cookie.match("pubser_loginuserkey")) {
            var obj = arr['input'];
            var index = obj.lastIndexOf("=");
            obj = obj.substring(index + 1, obj.length);
            var cookies = JSON.parse(obj);
            return cookies[name];
        }
        return null;
    }
    getUserName();
    setInterval(getUserName, 60*1000);
</script>