<div class="tab-pane fade" >
    <div class="table-responsive-check" id="Create_RoleModuleConfiguration">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button class="btn btn-label btn-primary" onclick="CreateRole()" id="CreateRole"><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label> 创建</button>
    </div>
</div>