<div class="tab-pane fade" id="EditRoleModuleConfiguration">
    <div class="table-responsive-check" id="Edit_RoleModuleConfiguration">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button class="btn btn-label btn-primary" onclick="EditRole()" id="EditRole"><label><i class="mdi mdi-checkbox-marked-circle-outline"></i></label> 保存</button>
    </div>
</div>